apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring
  template:
    metadata:
      labels:
        app: monitoring
    spec:
      containers:
      - name: monitoring
        image: monitoring:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8002
        env:
        - name: MONGO_URL
          value: "mongodb://mongo:27017"
        - name: RABBITMQ_HOST
          value: "rabbitmq"
---
apiVersion: v1
kind: Service
metadata:
  name: monitoring
spec:
  type: NodePort
  selector:
    app: monitoring
  ports:
    - protocol: TCP
      port: 8002
      targetPort: 8002
      nodePort: 30002
